@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR&family=Roboto+Slab:wght@100&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
}

html,
body {
  width: 100%;
}

#wrap {
  width: 100%;
}

#header {
  height: 40vh;
}

#headerContents {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

#title {
  position: absolute;
  top: 20%;
  font-size: 3.5em;
  font-weight: bold;
}

#title > span {
  color: white;
  -webkit-text-stroke: 1.5px black;
}

#searchMovie {
  position: absolute;
  top: 50%;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}

#inputKeyword {
  border: none;
  border-bottom: 3px dashed black;
  width: 80%;
  padding: 10px;
  outline: none;
  background-color: transparent;
  text-align: center;
}

#searchBtn {
  background-color: transparent;
  border: none;
}

#cardsWrap {
  box-sizing: border-box;
  margin: 0 auto;
  width: 70%;
  padding: 2%;
  display: grid;
  column-gap: 3%;
  row-gap: 35px;
  grid-template-columns: repeat(auto-fill, minmax(30%, auto));
  grid-auto-rows: minmax(950px, auto);
}

.card {
  box-sizing: border-box;
  width: 100%;
  padding: 5%;
  border-radius: 20px;
  border: 3px dashed black;
}

.cardContents {
  width: 100%;
}

.movieImageBox {
  width: 100%;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
}

.movieImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movieName {
  margin: 5% 0;
  font-weight: bold;
  font-size: 1.5em;
}

.moviePlot {
  line-height: 1.6em;
  margin: 5% 0;
}

#footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
